h1{
    text-align: center;
    padding-top: 20px;
    color:rgb(211, 239, 212)
}
.App{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}
body{
    background-image: url("https://wallbox.ru/wallpapers/main2/201731/zelen-fon-leto-cvetocki.jpg");
}
